// box-top
.box-top(style="background-image: url('img/cover.jpg')")
  .box-top__inner
    .box-top__title Think you’re<br> a true football<br> fan?
    .box-top__note Play 100’s of football quizzes<br> and win awesome prizes
    a.box-top__btn(href="#3") Play now
// End box-top


