// list-quizzes
section.articles
  .articles__top
    h2.articles__title <span>POPULAR</span>QUIZZES
    a.articles__all(href="#3") See all
  ul.articles__list
    li.articles__item
      .articles__item-cover(style="background-image: url('http://dummyimage.com/130x80/471412/f3f3f3.png')")
      .articles__item-content
        h3.articles__item-title
          a(href="#3") Can you names these 5 Premier League Football Stadiums
        .articles__item-inner
          .articles__item-progress
            .articles__item-progress-in(style="width: 12%")
          .articles__item-note
            | Only <span>12%</span> get all 5 correct
    li.articles__item
      .articles__item-cover(style="background-image: url('http://dummyimage.com/130x80/471412/f3f3f3.png')")
      .articles__item-content
        h3.articles__item-title
          a(href="#3") Can you names these 5 Premier League Football Stadiums
        .articles__item-inner
          .articles__item-progress
            .articles__item-progress-in(style="width: 12%")
          .articles__item-note
            | Only <span>12%</span> get all 5 correct
    li.articles__item
      .articles__item-cover(style="background-image: url('http://dummyimage.com/130x80/471412/f3f3f3.png')")
      .articles__item-content
        h3.articles__item-title
          a(href="#3") Can you names these 5 Premier League Football Stadiums
        .articles__item-inner
          .articles__item-progress
            .articles__item-progress-in(style="width: 12%")
          .articles__item-note
            | Only <span>12%</span> get all 5 correct
// End list-quizzes



