// list-quizzes
section.articles.mod--prize
  .articles__top
    h2.articles__title FEATURED<span>PRIZES</span>
    a.articles__all(href="#3") See all
  ul.articles__list
    li.articles__item
      .articles__item-cover(style="background-image: url('http://dummyimage.com/130x80/471412/f3f3f3.png')")
      .articles__item-content
        h3.articles__item-title.mod--caps
          a(href="#3") £50 free matched bet with ladbrokes
        .articles__item-fans
          |1261 Fans calimed this prize
        .articles__item-link Play quiz to unlock prize
    li.articles__item
      .articles__item-cover(style="background-image: url('http://dummyimage.com/130x80/471412/f3f3f3.png')")
      .articles__item-content
        h3.articles__item-title.mod--caps
          a(href="#3") £50 free matched bet with ladbrokes
        .articles__item-fans
          |1261 Fans calimed this prize
        .articles__item-link Play quiz to unlock prize
    li.articles__item
      .articles__item-cover(style="background-image: url('http://dummyimage.com/130x80/471412/f3f3f3.png')")
      .articles__item-content
        h3.articles__item-title.mod--caps
          a(href="#3") £50 free matched bet with ladbrokes
        .articles__item-fans
          |1261 Fans calimed this prize
        .articles__item-link Play quiz to unlock prize

// End list-quizzes



