// header
.l-header
  header.header

    .js-toggle-menu.header__toggle-menu

    h1.logo-top
      a.logo-top__link(href="#3") Sport [BUZZ]

    nav.header-nav
      ul.header-nav__list
        li.header-nav__list-item
          a.header-nav__list-link(href="#3") Home
        li.header-nav__list-item
          a.header-nav__list-link(href="#3") Quizzes
        li.header-nav__list-item
          a.header-nav__list-link(href="#3") Prizes
        li.header-nav__list-item
          a.header-nav__list-link(href="#3") How does it work?
        li.header-nav__list-item
          a.header-nav__list-link(href="#3") About us

// End header




