extends ../layout/default

block title
  title Main page

block content

  include ../../blocks/header/header-black
  include ../../blocks/box-frame/box-frame
  include ../../blocks/list-articles/list-QUIZZES

  include ../../blocks/social-box/social-box

