extends ../layout/default

block title
  title Main page

block content

  include ../../blocks/header/header-black
  include ../../blocks/box-frame/box-frame
  .box-layout
    .box-layout__col
      include ../../blocks/list-articles/list-QUIZZES
    .box-layout__col
      include ../../blocks/list-articles/list-PRIZES

  include ../../blocks/social-box/social-box

