// how it works
.l-how-works
  .how-works
    .how-works__title HOW<span>IT</span>WORKS

    .how-works__row
      .how-works__column
        .how-works__article
          .how-works__article-img
            img(src="img/mobile.png", alt="img")
          .how-works__article-box
            .how-works__article-title Play fun quizzes
            .how-works__article-note Play any quiz you like and enter your email to be sent your prize, score and the next level. (We’ll never spam you, if you ignore our email we’ll never email you again)

      .how-works__column
        .how-works__article
          .how-works__article-img
            img(src="img/star.png", alt="img")
          .how-works__article-box
            .how-works__article-title Play fun quizzes
            .how-works__article-note Brands give us awesome prizes that we pass on to you, but you have to prove you deserve the prize by passing the quiz!
// End how it works



