// social box
.social-box
  .social-box__top
    .social-box__top-logo
      img(src="img/logo-black.png")
    .social-box__top-soc
      a(href="#3")
        img(src="img/tw.png", alt="tw")
      a(href="#3")
        img(src="img/fb.png", alt="fb")

  .social-box__note Play sport and football quizzes on Sport Buzz including Manchester United, Arsenal, Liverpool, Chelsea, Tottenham, Man City quizzes as well as trying our Premiership, Championship and England quiz. Every level gets you better prizes.


  .social-box__logos
    img(src="img/s-logo1.png")
    img(src="img/s-logo2.png")
// End social box


